* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: 'Galada', cursive;
    text-align: center;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 10px;
    border-radius: 5px;

}


#showcase_container {
    background: rgba(49, 49, 49, 0.5);
    width: 100vw;
    height: 15vw;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 3em;
    letter-spacing: 0.3em;

}

#showcase {
    background-image: url(imgs/spicy.jpg);
    background-size: cover;
    width: 100vw;
    height: 15vw;
}

nav {
    display: flex;
    justify-content: center;
    margin: 1em;
    margin-bottom: 2em;

}

nav button {
    border: none;
    text-decoration: none;
    padding: 1em;
    margin: 0.3em;
    cursor: pointer;
    background: #ffffff;
    color: #969696;
    font-size: .9em;
    margin-top: 0;
    letter-spacing: 0.1em;
}

nav button:hover {
    color: #171717;
    transition: 0.5s;
}

#data-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2em;
    background: #383838;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    cursor: pointer;
    color: #fff;
    grid-gap: 20px;

    ;
}

#data-container p {
    padding: 0.2em;
    font-size: 1.2em;
}

.oversigt {
    background-color: #555555;
    border-radius: 5px;

}



img {
    max-width: 100%;
    border-radius: 5px;

}

#detalje {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    overflow: scroll;

}



#detalje img {
    max-width: 600px;
    border: solid #fff 1px;
    border-radius: 5px;

}

#detalje button {
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: none;
    font-size: 2em;
    position: relative;
    top: -3vw;
    left: -30vw;

}


.ret_popup {
    margin: 20px auto;
    padding: 2em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 4em;
    background-color: #383838;
    width: 1000px;
    border-radius: 5px;
    color: #fff;



}

.ret_popup p {
    padding: 0.1em;
    font-size: 0.8em;
    align-self: flex-start;
}

.ret_popup .pris {
    font-size: 2em;
}

.ret_popup h3 {
    font-size: 2em;
    margin-top: 0.5
}

.skjul {
    display: none;
}
