* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: #fff;
    margin: .5em;
}

p {
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 10px;
    border-radius: 5px;

}

body {
    background-color: #744f2f;
}



#showcase_container {
    background: rgba(98, 63, 37, 0.5);
    width: 100vw;
    height: 15vw;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 3em;
    letter-spacing: 0.3em;

}

#showcase {
    background-image: url(imgs/spicy.jpg);
    background-size: cover;
    width: 100vw;
    height: 15vw;
}

nav {
    display: flex;
    justify-content: center;

}

nav button {
    border: none;
    text-decoration: none;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    background: #744f2f;
    color: #fff;
    font-size: 1em;
}

nav button:hover {
    color: #dd9e54;
    transition: 0.5s;
}

#data-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0.5em;
    background: #291f13;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    cursor: pointer;
    color: #fff;

    ;
}



img {
    max-width: 100%;
}

#detalje {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: scroll;
}

#detalje img {
    max-width: 400px;
}

#detalje button {
    width: 30px;
    height: 30px;
    font-size: 1.5em;
}


.ret_popup {
    margin: 3em;
    padding: 2em;
    background-color: #fff;
}

.skjul {
    display: none;
}
